<!doctype html>
<html>
  <head>
    <title> Haftalık Plan </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/min.css">
    <script src="/static/zepto.js/"></script>
    <script src="/static/zepto.data.js/"></script>
    <script src="/static/vex.js"></script>
    <script src="/static/vex.dialog.js"></script>
    <link rel="stylesheet" href="/static/vex.css" />
    <link rel="stylesheet" href="/static/vex-theme-default.css" />
    <script>
      vex.defaultOptions.className = 'vex-theme-default';
    </script>
  </head>
  <body>
    <nav class="nav" tabindex="-1" onclick="this.focus()">
      <div class="container">
          <a class="pagename current" href="/weekly">Haftalık Plan</a>
      </div>
    </nav>
    <div class="row">
      <div class="col c2">
        <div>&nbsp;</div>
        <div class="courses">
          <h3>Dersler</h3>

          {% for c in courses %}
          <a href="#" class="course-wrapper" draggable="true">
          <div class="course ncrs"> 
            <span class="close">x</span>
            <span class="name">{{c[0].decode('utf-8')}}</span>
            <small class="lecturer">{{c[1].decode('utf-8')}}</small>
          </div>
          </a>
          {% endfor %}

          <div>&nbsp;</div>

          <div class="course new" onclick="add_course_dialog();"> 
            <h4 class="name">+</h4>
            <small class="lecturer">Yeni Ders Ekle...</small>
          </div>
          <script>
function add_course(name,lecturer) {
  $.post('/weekly/course/add/', { 'name': name, 'lecturer': lecturer }, function(response){
    
  })
}

function add_course_dialog() {
  vex.dialog.open({
      message: 'Ders Ekle:',
      input: '<label for="name">Ders: </label>\n <input name="name" type="text" value="" />\n<label for="lecturer">Hoca: </label>\n <input name="lecturer" type="text" value="" />\n',
      callback: function(data) {
        if (data === false) {
          return console.log('Cancelled');
        }
        console.log('C', data.name, 'L', data.lecturer);
        add_course(data.name, data.lecturer);
      }
  });
}
          </script>
        </div>

      </div>
      <div class="col c10">
        <div class="selector">
          <b> 
            <a class="btn-q" href="/weekly/{{prev}}/">&lt;</a>
             {{wrange}}
            <a class="btn-q" href="/weekly/{{next}}/">&gt;</a>
          </b>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th class="day" data-day="Pazartesi" data-shortday="Pzt"></th>
              <th class="day" data-day="Salı"      data-shortday="Sal"></th>
              <th class="day" data-day="Çarşamba"  data-shortday="Çar"></th>
              <th class="day" data-day="Perşembe"  data-shortday="Per"></th>
              <th class="day" data-day="Cuma"      data-shortday="Cum"></th>
            </tr>
          </thead>
          <tbody>
            {% for i in range(8) %} 
            <tr>
              {% if i==4 %}
              <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
              {% endif %}
              <td>{{hours[i]}}</td>
              {% for lecture in lectures[i] %}
                {% if lecture == 'none' %}
                  <td class="slot" data-hour="{{hours[i]}}" data-day="{{loop.index0}}"></td>
                {% else %}
                <div class="course new" onclick="add_course_dialog();"> 
                  <td class="slot lecture" data-hour="{{hours[i]}}" data-day="{{loop.index0}}">{{lecture.decode('utf-8')}}</td>
                {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <script>
rfac = 774.9087662568945;//Math.random()*997
function hashCode(str) { // java String#hashCode
    var hash = 0;
    for (var i = 0; i < str.length; i++) {
       hash = str.charCodeAt(i)*rfac + ((hash << 9) - hash);
    }
    return hash;
} 

function intToRGB(i){
    var c = (i & 0x00A1A1A1)
        .toString(16)
        .toUpperCase();

    return "FFFFF".substring(0, 6 - c.length) + c;
}

function colour(str) {
  return intToRGB(hashCode(str));
}

var crs = document.querySelectorAll('.lecture');

[].forEach.call(crs, function(c) {
  console.log(colour(c.innerHTML));
  c.style = "opacity: 0.9; background-color: #" + colour(c.innerHTML) + ";";
});

var crs = document.querySelectorAll('.ncrs');

[].forEach.call(crs, function(c) {
  clr = colour(c.getElementsByClassName('name')[0].innerHTML);
  c.style = "background-color: #" + clr + ";";
});


function handleDragStart(e) {
  this.style.opacity = '0.7';  // this / e.target is the source node.

  e.dataTransfer.effectAllowed = 'move';
  e.dataTransfer.setData('text/html', this.getElementsByClassName(''));
  e.dataTransfer.setData('lecture', this.getElementsByClassName('name')[0].innerHTML);
}

function handleDragEnd(e) {
  this.style.opacity = '1';  // this / e.target is the source node.
}

function handleDragOver(e) {
  if (e.preventDefault) {
    e.preventDefault(); // Necessary. Allows us to drop.
  }
  e.dataTransfer.dropEffect = 'move';  // See the section on the DataTransfer object.
  return false;
}

function handleDragEnter(e) {
  this.classList.add('over');
}

function handleDragLeave(e) {
  this.classList.remove('over');  // this / e.target is previous target element.
}

var dtarget;
function handleDrop(e) {
  e.preventDefault();
  dtarget = e.target;
  attrs = dtarget.attributes;
  name = e.dataTransfer.getData('lecture');
  day = attrs['data-day'].value
  hour = attrs['data-hour'].value
  days = ['Monday','Tuesday','Wednesday','Thursday','Friday']
  console.log('dropped ' + name + ' on ' + days[day] + ' at ' + hour);
  $.post('/weekly/lecture/add/', { 'name': name, 'day': day, 'hour': hour}, function(response){
    console.log(response);
    dtarget.innerHTML = name;
    dtarget.style = "background-color:#" + colour(name) + ";";
  })
}

var crs = document.querySelectorAll('[draggable]');
console.log(crs);

[].forEach.call(crs, function(c) {
  c.addEventListener('dragstart'  , handleDragStart , false);
  c.addEventListener('dragend'    , handleDragEnd   , false);
});

var crs = document.querySelectorAll('.slot');
console.log(crs);

[].forEach.call(crs, function(c) {
  c.addEventListener('dragenter'  , handleDragEnter , false);
  c.addEventListener('dragover'   , handleDragOver  , false);
  c.addEventListener('dragleave'  , handleDragLeave , false);
  c.addEventListener('drop'       , handleDrop , false);
});
  </script>
  </body>
</html>
