<!doctype html>
<html>
  <head>
    <title> Haftalık Plan </title>
    <link rel="stylesheet" href="../static/min.css">
  </head>
  <body>
    <nav class="nav" tabindex="-1" onclick="this.focus()">
      <div class="container">
          <a class="pagename current" href="#">Haftalık Plan</a>
      </div>
    </nav>
    <div class="row">
      <div class="col c2">
        <div>&nbsp;</div>
        <div class="courses">
          <h3>Dersler</h3>
          <div class="course"> 
            <h4 class="name">Patoloji</h4>
            <small class="lecturer">Dr. Gregory House</small>
          </div>

          <div class="course new"> 
            <h4 class="name">+</h4>
            <small class="lecturer">Yeni Ders Ekle...</small>
          </div>
        </div>

      </div>
      <div class="col c10">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th class="day" data-day="Pazartesi" data-shortday="Pzt"></th>
              <th class="day" data-day="Salı"      data-shortday="Sal"></th>
              <th class="day" data-day="Çarşamba"  data-shortday="Çar"></th>
              <th class="day" data-day="Perşembe"  data-shortday="Per"></th>
              <th class="day" data-day="Cuma"      data-shortday="Cum"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>8:40</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>9:40</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>10:40</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>11:40</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            <tr>
              <td>13:40</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>14:40</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>15:40</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>16:40</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
